accelerate==0.25.0
matplotlib==3.8.2
miditok==2.1.8
mido==1.3.2
numpy==1.26.2
palm_rlhf_pytorch==0.2.1
pandas==2.1.4
Requests==2.31.0
setuptools==68.2.2
torch==2.1.2
tqdm==4.66.1
transformers==4.36.2
